<nav class="navbar navbar-expand-lg" style="background-color: #a4c3b2">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://afifmv.github.io/html-portfolio/"
      >Afif Varikkodan</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      data-bs-theme="dark"
    >
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Exchange rates offered
          </a>

          <ul class="dropdown-menu" style="padding-right: 10px">
            <li>
              <a class="dropdown-item" href="/usd">United States Dollar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/aed">Arab Emirati Dirham</a>
            </li>
            <li><a class="dropdown-item" href="/cad">Canadian Dollar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
